# Django noise
BarcodeReaderServerDjango/local_settings.py
BarcodeReaderServerDjango/*.log
BarcodeReaderServerDjango/*.pot
BarcodeReaderServerDjango/*.pyc
BarcodeReaderServerDjango/**/*.log
BarcodeReaderServerDjango/**/*.pot
BarcodeReaderServerDjango/**/*.pyc
BarcodeReaderServerDjango/**/**/*.log
BarcodeReaderServerDjango/**/**/*.pot
BarcodeReaderServerDjango/**/**/*.pyc


# XCode3 noise
BarcodeReaderClientXcode3/**/*.pbxuser
BarcodeReaderClientXcode3/**/*.mode1v3
BarcodeReaderClientXcode3/build/*

# OSX noise
.DS_Store
profile
